[plugin]

name="STL Importer"
description=".stl to .mesh importer"
author="grabthefish"
version="0.2"
script="plugin.gd"

[import]
# show debug information what has been imported and how long that took
print_debug=false
